.results {
    padding: 34vh 0 17vh;
    width: 70%;
}

.results__grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
    gap: 16px;
    padding: 34vh 0 17vh;
}

.results__link {
    margin-bottom: 48px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.results__link:hover {
    /*transform: translateX(16px);*/
    padding-left: 16px;
    border-left: 16px solid #3C3C3C;
}

.body--dark .results__link:hover {
    border-color: #F2F3F7;
}

.results__link:hover .results__link-title {
    font-weight: bold;
}

.results__link-text--small {
    font-size: 16px;
    margin-bottom: 8px;
}

.results__link-text--small-underline {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 8px;
}

.results__link-title {
    font-weight: 600;
    margin-bottom: 8px;
}

.results__image-container {
    margin-bottom: 24px;
    display: block;
    width: 100%;
    padding: 8px 16px;
    background-color: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.body--dark .results__image-container {
    background: #3C3C3C;
    box-shadow:  20px 20px 40px #2b2b2b, -20px -20px 40px #4d4d4d;
}

.results__image-container:hover {
    transform: scale(1.05);
}

.body--dark .results__image-container:hover {
    box-shadow: 8px 8px 16px #363636, -8px -8px 16px #424242;
}

.results__image {
    width: 100%;
    border-radius: 8px;
}

.results__video {
    padding: 8px 16px;
    background-color: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.body--dark .results__video {
    background: #3C3C3C;
    box-shadow:  20px 20px 40px #2b2b2b, -20px -20px 40px #4d4d4d;
}

.results__video iframe {
    border-radius: 8px;
}