.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px 96px 16px;
    font-weight: 600;
    background-color: #F2F3F7;
    box-shadow: 0 -10px 24px -8px rgba(60, 60, 60, 0.35);
}

.body--dark .footer {
    background-color: #3C3C3C;
}

@media (max-width: 1024px) {
    .footer {
        padding: 32px 32px 16px;
    }
}

@media (max-width: 450px) {
    .footer {
        padding: 24px 16px 16px;
    }
}