.search {
    width: 70%;
    position: relative;
}

.search__input {
    width: 100%;
}

.search__button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 8px;
    right: 16px;
    outline: none;
    border: none;
    background: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search__button:hover {
    transform: scale(1.2);
}

.body--dark .search__input {
    background-color: #3C3C3C;
    color: white;
    box-shadow: inset 13px 13px 26px #2c2c2c, inset -13px -13px 26px #4c4c4c;
}

.body--dark .search__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.body--dark .search__button {
    background-color: #3C3C3C;
    box-shadow: inset 13px 13px 26px #2c2c2c, inset -13px -13px 26px #4c4c4c;
}

.body--dark .search__button img {
    filter: invert(100%);
}

@media (max-width: 1280px) {
    .search {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .search {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .search {
        width: 80%;
    }
}