/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@300;400;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #3C3C3C;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F2F3F7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3C3C3C;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(60, 60, 60, 0.35);
  }

.body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #F2F3F7;
    color: #3C3C3C;
    padding: 0 96px;
    line-height: 130%;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

input {
    background: #F2F3F7;
    box-shadow: inset 4px 4px 8px rgba(190, 205, 226, 0.5), inset -5px -5px 30px #FFFFFF;
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 16px 24px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #3C3C3C;
    font-weight: 600;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgba(60, 60, 60, 0.6);
    font-weight: 600;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 96px 32px;
    background-color: #F2F3F7;
    box-shadow: 0 10px 24px -8px rgba(60, 60, 60, 0.35);
    z-index: 20;
}

.body--dark {
    background-color: #3C3C3C;
    color: white;
}

.body--dark p,
.body--dark a {
    color: white;
}

.body--dark .header {
    background-color: #3C3C3C;
}

@media (max-width: 1280px) {
    .body {
        padding: 0 32px;
    }

    .header {
        padding: 0 32px 32px;
    }
}

@media (max-width: 1024px) {
    .body {
        font-size: 18px;
    }

    input {
        padding: 16px;
        font-size: 18px;
    }

    input::placeholder {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .body {
        font-size: 16px;
        padding: 0 16px;
    }

    input {
        font-size: 16px;
    }

    input::placeholder {
        font-size: 16px;
    }

    .header {
        padding: 0 16px 32px;
    }
}